.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 5%;
  border-radius: 15px;
  background: "#f5f5f5";
  color: #ffffff; /* White text color for contrast */
  padding: 20px; /* Adjust padding as needed */
  box-shadow: 0px 4px 10px rgb(15, 248, 248); /* Optional: Adding a subtle shadow for depth */
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 15px;
}

.text {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
}

.underline {
  width: 61px;
  height: 6px;
  background: #8affff;
  border-radius: 9px;
}

.inputs {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 100%; /* Adjusted for responsiveness */
  max-width: 480px; /* Added maximum width */
  height: 80px;
  background: transparent;

  box-shadow: 1px 2px 1px 1px rgb(209, 209, 209);
  border-radius: 10px;
}
.input img {
  margin: 0px 30px;
}

.input input {
  height: 50px;
  width: 100%; /* Adjusted for responsiveness */
  max-width: 400px; /* Added maximum width */
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}

.forgot-password {
  display: flex;
  justify-content: center;
  padding-right: 0px;
  margin-top: 27px;
  color: #797979;
  font-size: 18px;
}

.forgot-password span {
  padding-left: 5px;
  color: rgb(1, 153, 255);
  cursor: pointer;
}

.submit-container {
  display: flex;
  gap: 30px;
  margin: 60px auto;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vh; /* Adjusted for responsiveness */
  max-width: 220px; /* Added maximum width */

  height: 59px;
  color: #000000;
  background: rgba(255, 255, 255, 0.959);
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}
.gray {
  background: #1f18188c;
  color: #fff;
}

#googleButton {
}
